/* ------------- font liks  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* ------------- tailwind config css */
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  max-width:1770px;
  padding:0 15px;
}

@theme{
  /* --- fonts */
  --font-inter:"Inter", sans-serif;
  --font-raleway:"Raleway", sans-serif;

  /* --- colors */
  --color-primary:#6995B1;
  --color-secend:#C1C1C1;
  --color-textColor:#1A1A1A;
}